<div class="container" style="margin-top: 150px;">
    <!-- Start: Thanh chức năng -->
    <div class="tool-bar">
        <a class="book" href="setting.html">
            Đặt phòng
        </a>
        <a class="setting" href="setting.html">
            Cài đặt tài khoản
        </a>
    </div>
    <!-- End: Thanh chức năng -->

    <div class="form">
        <!-- Start: Form content-->
        <a class="users" href="">
            <img src="/page/img/image-1.png" alt="Avatar" class="avatar">
            <div class="info">
                <h1 id="username">
                    <%= profile.fullname %> <span>Thông tin tài khoản</span>
                </h1>
                <h2>Cá nhân hóa tài khoản bằng việc cập nhật thông tin của bạn</h2>
            </div>
        </a>

        <div class="main-form row">
            <!-- Aside Left -->
            <div class="left-form">
                <ul>
                    <li><a href="/ho-so">Thông tin tài khoản</a></li>
                    <div class="line"></div>
                    <li><a href="/ho-so/mat-khau">Thay đổi mật khẩu</a></li>
                    <div class="line"></div>
                </ul>
            </div>
            <!-- Aside Right -->
            <div class="right-form">
                <!-- Detail update -->
                <form action="/ho-so/mat-khau" method="POST" class="detail-update">
                    <div class="form-group">
                        <label for="fname">Mật khẩu</label>
                        <input type="password" id="fullname" name="password"
                        placeholder="******"
                        >
                    </div>
                    <div class="form-group">
                        <label for="email">Mật khẩu mới</label>
                        <input type="password" id="email" name="newPassword"
                        placeholder="******"
                        >
                    </div>
                    <button type="submit" class="btn-update">Cập nhập</button>
                </form>
            </div>
        </div>
        <!-- End: Form content-->
    </div>
</div>


<script>

    // notifycation
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "11300",
        "hideDuration": "111000",
        "timeOut": "15000",
        "extendedTimeOut": "11000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

        <% if (errorValidate) { %>
                const err = '<%= errorValidate %>';
            toastr["error"]("<%= errorValidate %>")

                <%}%>
                  <% if (successAlert) { %>
        toastr["success"]("Cập nhật thông tin thành công")
        <%}%>

</script>